extends layout

block content
    profilebox.county
        h2 #{title}
        if arms != null
            figure.pbox
                img.pbox(src="/images/"+arms)
        table.pbox
            tr
                td Chancellor
                if chancellor
                    td !{chancellor}
                else
                    td #[a(href="/people/rex") His Majesty]
            tr
                td Vice-Chancellor
                if viceChancellor
                    td !{viceChancellor}
                else
                    td #[a(href="/people/rex") His Majesty]

    h1 #{title}

    p The #[b Royal Cyprian Academy] is the kingdom's national academy. Its dual purpose is:
    ul
        li To preserve, defend and advance the Christian faith, as it was transmitted to the apostles and passed down to their successors;
        li To collect outstanding cultural achievements of various kinds, especially those belonging to the English-speaking peoples, and to ensure that the general public has as free and untroubled access to such works as possible.

    h2 Faculties
    p In order to better achieve the above aims, the Academy is divided into faculties:
    ul
        for faculty in data.faculties
            li #[a(href="/academy/faculty/"+faculty.code) #{faculty.name}]
