extends layout

block content
    profilebox.manor
        h2 #{title}
        figure.pbox
            img.pbox(src="/images/badgehoskersalbums.svg")
            figcaption Badge of #{title}

    h1 #{title}

    p #[b #{title}] is a list of the greatest albums ever recorded.

    h2 The Canon
    table.midi
        tr
            th Title
            th Artists
            th Rank
        for album in sorted
            tr
                if album.link
                    td #[i #[a(href=album.link) #{album.title}]]
                else
                    td #[i #{album.title}]
                if album.artists
                    td #{album.artists}
                else
                    td &mdash;
                if album.rank
                    td #{album.rank}
                else
                    td &mdash;

    h2 Deuterocanon
    table.midi
        tr
            th Title
            th Artists
        for album in unsorted
            tr
                if album.link
                    td #[i #[a(href=album.link) #{album.title}]]
                else
                    td #[i #{album.title}]
                if album.artists
                    td #{album.artists}
                else
                    td &mdash;
