extends layout

block content
    profilebox.manor
        h2 #{title}
        figure.pbox
            img.pbox-arms(src="/images/badgehoskerscinema.svg")
            figcaption Badge of #{title}

    h1 #{title}

    p #[b #{title}] is a list of the greatest films ever made.
    p This particular canon is organised into five `books'. Book I contains #[i comedies] &mdash; in the older sense of the word, meaning a drama with a happy ending and a generally optimistic outlook. Book II contains tragedies. Book III contains #[i satires] &mdash; the term being used here to mean any film intended to induce laughter. Book IV contains films which do not fit neatly into any of the above three categories. Book V contains the best films &mdash; from every category.

    h2 The Canon
    h3 Book I: Comedy
    if bookI.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookI
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h3 Book II: Tragedy
    if bookII.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookII
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h3 Book III: Satire
    if bookIII.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookIII
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h3 Book IV: Other
    if bookIV.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookIV
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h3 Book V: The Best
    h4 Part 1: Comedy
    if bookV.part1.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookV.part1
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h4 Part 2: Tragedy
    if bookV.part2.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookV.part2
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h4 Part 3: Satire
    if bookV.part3.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookV.part3
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h4 Part 4: Other
    if bookV.part4.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookV.part4
                tr
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
    h4 Part 5: The Very Best
    if bookV.part5.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Rank
                th Title
                th Year
            for film in bookV.part5
                tr
                    td #{film.topTen}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}

    h2 Deuterocanon
    if deuterocanon.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Count
                th Title
                th Year
                th Genre
            for film in deuterocanon
                tr
                    td #{deuterocanon.indexOf(film)+1}
                    td #{film.rank}
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
                    td #{film.genre}
    h3 Adaptations
    p This section concerns those films which are the best adaptations of classics of English literature.
    if adaptations.length == 0
        p #[i No films as yet.]
    else
        table.midi
            tr
                th Title
                th Year
                th Adapted from
                th Original by
            for film in adaptations
                tr
                    if film.internalLink
                        td #[i #[a(href=film.internalLink) #{film.title}]]
                    else if film.externalLink
                        td #[i #[a(href=film.externalLink) #{film.title}]]
                    else
                        td #[i #{film.title}]
                    td #{film.year}
                    if film.adaptedFrom
                        td #[i #{film.adaptedFrom}]
                    else
                        td &mdash;
                    if film.author
                        td #{film.author}
                    else
                        td &mdash;
