extends layout

block content
    profilebox.barony
        h2 #{title}
        if arms
            figure.pbox
                img.pbox(src="/images/"+arms)
        table.pbox
            tr
                td Pro-Vice-Chancellor
                if proViceChancellor
                    td !{proViceChancellor}
                else
                    td #[a(href="/people/rex") His Majesty]

    h1 #{title}

    if description
        p !{description}
    else
        p The #[b #{title}] is a constituent faculty of the #[a(href="/academy") Royal Cyprian Academy].

    h2 Departments
    if code == "fine"
        p The faculty contains no departments as such, but it administers #[a(href="/canons") Hosker's Canons].
    else
        if departments.length == 0
            p #[i None as yet.]
        else
            ul
                for department in departments
                    li #[a(href="/academy/department/"+department.code) !{department.name}]
