extends layout

block content
    profilebox(class=boxType)
        p
            if style
                | #[i #{style}]
                br
            | #[span.big-and-strong #{shortTitle}]
        figure.pbox
            img.pbox(src="/images/"+arms)
        table.pbox
            if knownAs
                tr
                    td Known as
                    td #{otherNames}
            tr
                td Surname
                td #{surname}
            tr
                td Forename
                td #{forename}
            tr
                td #[a(href="/asis/Rank") Rank]
                td #{rank}
            tr
                td Addressed As
                td &ldquo;#{addressedAs}&rdquo;
    h1 #{shortishTitle}
    p !{bio}

    h2 Cyprian Data
    h3 Cyprian Legal Name
    p #{cyprianLegalName}
    if accolades
        h4 Accolades
        p !{accolades}

    h2 Other Data
    if family
        h3 Family
        p !{family}
    else
        p #[i None as yet.]
